@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

body {
  background: #fbf9f6;
  color: #1b1c1a;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-flex;
  align-items: center;
  animation: marquee 30s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Hide scrollbar for Chrome, Edge & Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE & old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

